<!--
  Manipulator specific version of the state visualizer.

  Defaults provided for kuka_lwr4:
   -  7 joints

  Usage:
    robot_state_visualize_kuka_lwr4.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />

  <rosparam command="load" file="$(find kuka_lwr4_support_armhf)/config/joint_names_lwr4.yaml" />

  <include file="$(find driver)/launch/robot_state.launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher" />

  <include file="$(find kuka_lwr4_support_armhf)/launch/load_lwr4.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
